.container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid pink;
}

.box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: pink;
}

.haed {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  height: 3em;
}

.head-link {
  padding: 0 1em;
  cursor: pointer;
}

.head-link:hover {
  font-weight: bold;
  text-decoration: underline;
}
